@import "vars"

/*==========  Desktop First  ==========*/
@media only screen and (max-width :  1400px)
	.screen-section
		padding: 30px 0 50px
	.gallery-box .owl-nav
		right: -60px
	.gallery__title
		margin-bottom: em(5px)
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.main-menu__url
		font-size: em(18px) 
	.main-section__title
		font-size: em(64px)
	.section-content 
	.section-title
		font-size: em(60px)
		width: 590px
	.section-text
		width: 480px
		font-size: em(18px)
	.gallery-box .owl-nav
		right: -10px
	.main-btn
		font-size: em(16px)
	.contacts__gallery-btn
		font-size: em(18px)
	.kitchen-parts__btn
		font-size: em(18px)
	.kitchen-parts__btn-round
		width: 40px
		height: 40px
		border-width: 2px
	.kitchen-parts__btn-prev-arrow
		font-size: 14px
	.kitchen-parts__btn-next-arrow
		font-size: 14px
	.gallery-box
		max-width: 300px
	.gallery
		&__btn
			font-size: em(18px)
		&__btn-round
			width: 40px
			height: 40px
			border-width: 2px
		&__btn-prev-arrow
			font-size: 14px
		&__btn-next-arrow
			font-size: 14px
		.owl-prev
			margin-bottom: 25px
	.graphic-img
		background-image: url(../img/spritesheet-1200.png)
		//transform: translateY(-50%) translateX(-10%)
		left: 20px

	.sprite-imgScreen1Dark
		width: 468px
		height: 471px
		background-position: -5px -5px

	.sprite-imgScreen1White
		width: 468px
		height: 471px
		background-position: -483px -5px

	.sprite-imgScreen2Dark
		width: 430px
		height: 395px
		background-position: -961px -5px

	.sprite-imgScreen2White
		width: 430px
		height: 427px
		background-position: -961px -410px

	.sprite-imgScreen3Dark_0
		width: 299px
		height: 382px
		background-position: -1401px -5px

	.sprite-imgScreen3Dark_1
		width: 299px
		height: 382px
		background-position: -1401px -397px

	.sprite-imgScreen3Dark_2
		width: 299px
		height: 382px
		background-position: -5px -789px

	.sprite-imgScreen3Dark_3
		width: 299px
		height: 382px
		background-position: -314px -789px

	.sprite-imgScreen3White_0
		width: 299px
		height: 382px
		background-position: -623px -789px

	.sprite-imgScreen3White_1
		width: 299px
		height: 382px
		background-position: -1401px -789px

	.sprite-imgScreen3White_2
		width: 299px
		height: 382px
		background-position: -5px -1181px

	.sprite-imgScreen3White_3
		width: 299px
		height: 382px
		background-position: -314px -1181px

	.sprite-imgScreen4Dark
		width: 455px
		height: 283px
		background-position: -932px -847px

	.sprite-imgScreen4White
		width: 455px
		height: 283px
		background-position: -932px -1140px

	.sprite-imgScreen5White
		width: 390px
		height: 419px
		background-position: -1710px -5px

	.sprite-imgScreen6White
		width: 304px
		height: 405px
		background-position: -1710px -434px

	.sprite-imgScreen7White
		width: 455px
		height: 395px
		background-position: -1397px -1181px

	.sprite-imgScreen8Dark
		width: 455px
		height: 275px
		background-position: -5px -1586px

	.sprite-imgScreen8White
		width: 455px
		height: 275px
		background-position: -470px -1586px

	.sprite-imgScreen9White
		width: 455px
		height: 280px
		background-position: -935px -1586px

	/**/
/* small Desktops */
@media only screen and (max-width : 1023px)
	.container
		padding: 0 35px 
	.main-menu
		display: none
	.burger-menu
		display: block
	.main-container
		height: 100vh
	.screen-section
		padding: 30px 0	
		>div
			align-items: start
			grid-row-gap: 90px
		
	.main-section__title
		max-width: 600px
		// font-size: em(64px)


	@keyframes slideInDown
		0% 
			opacity: 0
			transform: translateY(-70%) translateX(-50%)
		100%
			opacity: 1
			transform: translateY(-50%) translateX(-50%) 	

	.graphic-container
		right: unset
		left: 0
		width: 100%
		height: 48%
		top: unset
		bottom: 0
		padding-left: 0
		padding-top: 110px
	.change-theme-btn 
		width: 100%
		top: 110px
	.graphic-circle, .new-graphic-circle
		width: 140vw
		height: 140vw
		transform: translateX(-50%)
		left: 50%
		top: unset
	.graphic-img
		top: 13%
		left: 50%
		transform: translateY(-50%) translateX(-50%)
	.section-title
		font-size: em(54px)

	
		
/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)  
	/**/

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.kitchen-design__btn
		font-size: em(18px)  
	.main-section__title
		font-size: em(37px)
		margin-bottom: rem(50px)
		line-height: 1.3
		max-width: 310px
	.main-btn
		font-size: em(16px)
	.kitchen-parts__slider-item
		width: 300px
	.kitchen-parts__slider-inner
		width: 300px
	.kitchen-parts__btn:first-child
		margin-right: 10vw
	.map 
    	//width: 100vw
	.section-title
		font-size: em(32px)
		width: 100%
	.section-text
		font-size: em(14px)
		width: 100%
	
	.screen-section>div
		grid-row-gap: 50px

	.kitchen-parts__slider-nav
		padding-top: 5px

	.graphic-container
		height: 35%
		padding-top: 30px

	.gallery-box
		max-width: 170px

	.graphic-img
		background-image: url(../img/spritesheet-480.png)

	.sprite-imgScreen1Dark
		width: 234px
		height: 236px
		background-position: -5px -5px

	.sprite-imgScreen1White
		width: 234px
		height: 236px
		background-position: -249px -5px

	.sprite-imgScreen2Dark
		width: 215px
		height: 198px
		background-position: -493px -5px

	.sprite-imgScreen2White
		width: 215px
		height: 214px
		background-position: -493px -213px

	.sprite-imgScreen3Dark_0
		width: 150px
		height: 191px
		background-position: -718px -5px

	.sprite-imgScreen3Dark_1
		width: 150px
		height: 191px
		background-position: -718px -206px

	.sprite-imgScreen3Dark_2
		width: 150px
		height: 191px
		background-position: -5px -407px

	.sprite-imgScreen3Dark_3
		width: 150px
		height: 191px
		background-position: -165px -407px

	.sprite-imgScreen3White_0
		width: 150px
		height: 191px
		background-position: -325px -407px

	.sprite-imgScreen3White_1
		width: 150px
		height: 191px
		background-position: -718px -407px

	.sprite-imgScreen3White_2
		width: 150px
		height: 191px
		background-position: -5px -608px

	.sprite-imgScreen3White_3
		width: 150px
		height: 191px
		background-position: -165px -608px

	.sprite-imgScreen4Dark
		width: 228px
		height: 142px
		background-position: -325px -608px

	.sprite-imgScreen4White
		width: 228px
		height: 142px
		background-position: -563px -608px

	.sprite-imgScreen5White
		width: 195px
		height: 210px
		background-position: -878px -5px

	.sprite-imgScreen6White
		width: 152px
		height: 203px
		background-position: -878px -225px

	.sprite-imgScreen7White
		width: 228px
		height: 198px
		background-position: -801px -608px

	.sprite-imgScreen8Dark
		width: 228px
		height: 138px
		background-position: -5px -816px

	.sprite-imgScreen8White
		width: 228px
		height: 138px
		background-position: -243px -816px

	.sprite-imgScreen9White
		width: 228px
		height: 140px
		background-position: -481px -816px



	/**/

@media only screen and (max-width : 400px)
	.section-text, .section-title
		max-width: 300px
	.kitchen-parts__btn:first-child
		margin-right: 10px
	.kitchen-parts__btn-round
		width: 40px
		height: 40px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.burger-menu
		right: 20px
	.container
		padding: 0 20px
	.screen-section>div
		//grid-row-gap: 40px
	.section-title
		font-size: em(32px)
	.section-text
		max-width: 300px
	.kitchen-design__btn
		font-size: em(14px)
	.kitchen-parts__slider-inner
		width: 280px
	.contacts__gallery-btn
		font-size: em(20px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

